.tags {
    // margin-right: 64px;
    padding: 18px;
    height: min-content;
    background: #F2F2F2;
    border-radius: 62px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding-block: 48px;
    min-width: min-content;
    h1 {
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
    }

    ul {
        list-style: none;
        padding-inline: 0px;
    }

    li {
        padding: 18px 0px;
        a{
            text-decoration: none !important;
            color: #000000 !important;
        }
    }


    @media screen and (max-width:768px) {
        display: none;
    }
}